
h1 {
    color: #00936d;
}

.negrita{
    font-weight: bold;
}

h3 {
    color:#706f6f
}

.fechas {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:white;
}

h2 {
    color:#009fe1;
}

.marca {
	color:#00947e;
}

.navbar .navbar-brand {
    color: green;
    font-weight: bold;
}

.fondoBarra{
    background-color: #008e3d !important;
}

html, body, .container {
    height: 100%;
}

.pantalla {
    min-height:100%;
}

.foto {
    min-height:65%;
}

.fondoHome {
    background-image: url("../images/Trama.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondoNosotros {
	background-image: url("../images/1.jpg");
}

.fondoPublicitarias{
	background-image: url("../images/Centro.jpg");
}
.fondoInstitucionales{
	background-image: url("../images/3.jpg");
}
.fondoContacto{
	background-image: url("../images/Musica.jpg");
}
.fondoTiendas{
	background-image: url("../images/5.jpg");
}
.fondoAdministrativas{
	background-image: url("../images/Juventud.jpg");
}
.fondoContactenos{
	background-image: url("../images/7.jpg");
}

.parallax {
 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
	
} 

.fondoboton{
    background-color: #009bbb !important;
}